@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat:400,500|Roboto:400,700&display=swap");

.button {
  background-color: #843454; 
  border: none;
  border-radius: 16px;
  color: rgb(248, 248, 248);
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgb(0,0,0,0.3);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 6% auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.5s;
  background-image: url(/img/modalBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}

.text-content {
  text-align: center;
  padding-bottom: 60px;
}

.text-content > h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  color: #B40404;
  font-weight: lighter;
}

.text-content > h3 {
  font-family: 'Alef', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.text-content > p {
  line-height: 0;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(78, 78, 78);
}

.rightt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close-btn {
  font-size: 28px;
  color: #adadad;
}

.edit-btn {
  font-size: 22px;
  color: #adadad;
  padding-left: 16px;
  margin-top: 2px;
}


.close-btn:hover, .close-btn:focus {
  color: rgb(29, 29, 29);
  text-decoration: none;
  cursor: pointer;
}

.edit-btn:hover, .edit-btn:focus {
  color: #1CACF4;
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.modal-btn {
  margin-top: -26px;
  background-color: #843454; 
  border: none;
  border-radius: 16px;
  color: rgb(248, 248, 248);
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  outline: none;
}

.modal-btn:hover {
  background-color: #b61354; 
  transition: 0.6s ease;
}



@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

@media (max-width: 414px) {
  .modal-content {
    width: 100%;
  }
  .text-content > h1 {
    font-size: 3rem;
    font-family: 'Great vibes', cursive;
  }
  .text-content > h3 {
    font-size: 1.4rem;
  }
  .text-content > p {
    font-size: 0.8rem;
  }
  .hide-mobile {
    display: none;
  }
}