* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
 overflow-x: hidden !important;
 background: url(/img/IvoryPaperLight.png);
 background-size: cover;
 background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  } 
 
.nav-links {
  position: fixed;
  right: 0;
  top: 2px;
  width: 50%;
  height: 200vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  line-height: 6;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.logo img {
  width: 100px;
  padding: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #666;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  
}

.nav-links li {
  list-style: none;
}

.nav-links li {
  opacity: 0;
} 

.burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: rgb(95, 94, 94);
  transition: all 0.3s ease;
}

.burger {
 z-index: 20;
 display: block;
 margin-top: -6px;
 padding-right: 8px;
}

.nav-active {
  transform: translateX(0%);
}

/* Home Section */
.hide-mobile {
  display: none;
}

.main-logo {
  width: 340px;
}


/* Sections Layout */
section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.maps {
  margin-top: 40px;
}

/* Footer */
footer {
  margin-top: 80px;
  background: rgb(49, 49, 49);
  color: rgb(243, 243, 243);
  height: 500px;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content .footer-section {
  flex: 1;
  text-align: center;
}

.footer-section, .right {
  padding-top: 30px;
}

.footer-content h1 {
  color: #666666;
  font-family: "Roboto", sans-serif;
}

.footer-content .quick-links ul a {
  display: block;
  line-height: 2;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  color: rgb(202, 202, 202);
  text-decoration: none;
  text-align: center;
}

.footer-content .quick-links ul a:hover {
  color: #ffff;
  margin-left: 15px;
  transition: all .4s;
} 

.footer-section i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	text-align: center;
	line-height: 48px;
	margin: 10px 5px;

}

.footer-bottom {
  background: rgb(63, 63, 63);
  color: rgb(146, 146, 146);
  height: 30px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  width: 100%;
}

/* Animations */

@keyframes navLinkFade {
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
 }
 
 .toggle .line2 {
  opacity: 0;
 }
 
 .toggle .line3 {
   transform: rotate(45deg) translate(-5px,-6px);
 }